/iv
/iv.exe

/build
/testdata

*.png
*.gif
*.jpe?g
*.bmp
*.tiff?
*.webp
*.pnm
*.heif
*.pbm
*.pgm
*.pfm
*.ppm
*.pam
*.ico

*.epub
*.mobi
*.fb2
*.xps

*.ttf
*.ttc
*.otf
*.woff
*.woff2
*.fnt

*.txt
*.yml
*.yaml

*.xml
*.html
